/*Fonts to use: Marriweather and Open Sans, imported from Google Fonts*/


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Overriding the default styles from HTML */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styles*/


body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #3a3a3a;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #3a3a3a;
    ;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hidden-heading {

    display: none;
}

/*Header Styles*/

header {

    color: #F3E542;
    background-color: #e28959f0;
    width: 100%;
    padding: 0 1rem;
    text-align: left;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* Just to make sure the header is on top of everything */
    z-index: 99;
    box-shadow: 0 2px 2px #828181;


}

header h1 {
    color: #F3E542;
    font-size: 1.6em;
    margin: 0 20px 0 0;
    padding: 0.5rem 0;


}

header a {


    text-decoration: none;
    color: inherit;



}


/*This will highlight the active link in the header*/

.active {

    border-bottom: 1px solid #F3E542;


}

/*Menu Styles*/

#menu {

    font-size: 100%;
    list-style-type: none;
    letter-spacing: 4px;

}

#menu li {

    margin-bottom: 1em;


}

/*Nav Styles to set up the mobile menu This has been taken from the example of the Love running project*/

nav {
    position: absolute;
    background-color: #e28959f0;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;


}

/* Nav-Toggle" */

#nav-toggle:checked~nav {

    display: block;


}

#nav-toggle {

    display: none;


}

.nav-toggle-label {

    font-size: 1.6rem;


}



/*Main Section Styles*/


main {


    flex: 1 0 auto;
    background-color: white;
    margin-top: 57px;
    padding: 0;
}

.hero {
    background-image: url("../images/image-hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 600px;

    position: relative;
}

#hero-cover-text {
    background-color: #000000a7;
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    bottom: 5%;
    right: 10px;
}

#hero-cover-text>p {
    font-weight: bold;

}

#hero-text-cover-button {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}




button.primary,
button.secondary {
    width: 120px;
    /* Set the desired fixed width */
    text-align: center;
    /* Center the text */
    background-color: #E28A59;
    color: #FFFFFF;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 5px;
}

button.primary:hover {
    background-color: #F3E542;
    font-weight: bold;
}

button.secondary {
    background-color: #F3E542;
    color: #3a3a3a;



}

button.secondary:hover {
    background-color: #7A9E3B;
    font-weight: bold;
}

/*Section our Values */

/* Specialization Section Styles */
.specialization {
    padding: 2rem 1rem;
    background-color: #ffffff;
    text-align: center;
}

.specialization h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #3a3a3a;
}


/*Section Our Servies */

.services {
    padding: 2rem 1rem;
    /* Adding some contrast to the background */
    background-color: #f4f4f4; 
    text-align: center;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #3a3a3a;
}

.services p {
    margin-bottom: 32px;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.service-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex:1;

}

.service-item h3 {
    font-size: 1.5rem;
    color: #e28959;
    margin-bottom: 0.5rem;
}

.service-item p {
    font-size: 1rem;
}


/*Footer Section Styles*/

footer {
    background-color: #E28A59;
    color: #F3E542;
    text-align: center;
    padding: 1rem;

}

footer i {

    color: #3a3a3a;
    font-size: 1rem;
    padding: 0 0.5rem;

}

/*Making the font-size of the copyright p smaller*/

footer p:nth-of-type(2) {


    font-size: small;


}

/*Css for screens larger than 768px*/

@media screen and (min-width: 768px) {

    /*Header */

    #logo {

    font-size: 180%;
    line-height: 75px;
    margin: 0 0.5em;

    }

    nav {
        position: relative;
        background-color: transparent;
        width: auto;
        padding: 0;
        display: block;
        top: 0;
        box-shadow: none;
        padding-right: 20px;
    }

    #menu {

        display: flex;
        
        
    
    
      }

      #menu li {

        padding-left: 1rem
      }

      .nav-toggle-label {

        display: none;
    
      }

    /*Main Section Styles*/

    main{

        margin-top: 91px;


    }




    #hero-cover-text {
        width: 30%;
        bottom: 5%;
        /* Center the hero-cover-text to be positioned exactly in the middle of the view port. Trick from Stackoverflow*/
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

    }

    #hero-cover-text>p {

        font-size: 1.5rem;
        text-align: wrap;

    }

      /* Services Section Styles */
      .service-list {
        flex-direction: row;
        justify-content: space-around;
    }

    .service-item {
        width: 30%;
        

    }

    .service-item p {
        margin-top: 2rem;
    }
}


